# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres@localhost:5432/db?schema=public"

# This is required for Github authentication via Next-Auth and OAuth2.
GH_CLIENT_ID=""
GH_CLIENT_SECRET=""

# This is used for administrator checking (sorry, onlooker)
# Multiple values can be used by comma separating each value
# like so: "a@b.com,c@bt.net"
WL_SITE_ADMIN_EMAILS=""